body {	
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-wrap: none;
    display: inherit;
}
.field-set{
    text-align: center;
}
.ui-dialog .ui-dialog-title {
    float: none !important;	  
}
.ui-button-text {
    display: block;
    text-wrap: none;
    width: 80px;
}

/*ui text button trong data table*/
.ui-datatable .ui-widget .ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-text-only .ui-button-text{
    width: auto !important;
}
.ui-button-text-icon-left .ui-button-text {
    padding: 5px;
}
/*.ui-menu .ui-menuitem-text {
    float: none !important;
}*/
.ui-menu .ui-menu-parent .ui-menu-child{
    min-height: 50px;
    max-height: 300px;
}

.ui-fieldset-legend{
    min-width: 200px;
}
/*.ui-icon{
    width: 20px!important;
}*/
.ui-menuitem-text{
/*    width: 200px!important;*/
}
.file-excel-o:before {
    content: "\f1c3";
}
.level-down:before {
    content: "\f149";
}
.arrow-up:before {
    content: "\f062";
}
.pencil-square-o:before {
    content: "\f044";
}
#tabs li{
    float: left !important;
}
td{
    word-break: break-all !important;
    white-space: nowrap !important;
}
/*td label{
    margin-left: 10px !important;
}*/

.ui-widget-header{
    background: none !important;
    border: 0;
}
.ui-widget-content a {
    color: blue !important;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
    color:#4f4f4f !important;
    font-weight: normal !important;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    font-weight: normal !important;
    color:#4f4f4f !important;
}
.ui-row-editor{
    display: inline !important;
}
.ui-row-editor:after {
    clear: none !important;
}
.ui-button-text-only .ui-button-text {
    padding: .3em !important;
}
/*Override for pencil icon on row editor*/
/*.ui-datatable .ui-row-editor .ui-icon-pencil {
    background-image: url("#{resource['images/pencil.png']}");
}

.ui-datatable .ui-row-editor .ui-icon-check {
    background-image: url("#{resource['images/check.png']}");
}

.ui-datatable .ui-row-editor .ui-icon-close {
    background-image: url("#{resource['images/close.png']}");
}*/

/*Title cua dialog*/
.ui-dialog.ui-widget-content .ui-dialog-titlebar{
      text-transform: uppercase;
}

table tr td a.ui-selectcheckboxmenu-label-container {
    text-decoration: none;
}

/*tr.ui-widget-content.ui-datatable-odd.ui-state-highlight.ui-row-editing, tr.ui-widget-content.ui-datatable-even.ui-state-highlight.ui-row-editing {
    background: #ffffff;
}

.ui-cell-editor-input{
    text-shadow: none !important;
    color:black;
    padding-left: 6px;
}*/

.ui-datatable .ui-row-editing .ui-row-editor .ui-icon-check, .ui-datatable .ui-row-editing .ui-row-editor .ui-icon-close{
    margin-right: 5px;
    width: 20px !important;
    height: 20px !important;
}

.ui-datatable tr td {
    word-break: normal !important;
    white-space: normal !important;
}